body {
    background: #020617;
    color: #e5e7eb;
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  input, button {
    padding: 10px;
    margin: 5px;
  }
  
  #ranking {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
  }
  
  canvas {
    border: 2px solid #0ff;
    background-color: #111;
    margin-top: 20px;
  }
  